<section class="faq">
    <section class="faq-title-wrapper">
        <h2 class="faq-title">
            Frequently asked questions
        </h2>
        <h3 class="faq-subtitle">
            Answer to our most frequently asked questions are one just click away.
        </h3>
    </section>

    <section class="faq-accordion-wrapper">
        <h3>
            <button
                class="accordion"
                aria-expanded="false"
                aria-controls="faq-panel-1"
                id="faq-button-1"
            >
                What are Nike's delivery options?
            </button>
        </h3>
        <div
            class="panel"
            id="faq-panel-1"
            role="region"
            aria-labelledby="faq-button-1"
            hidden
        >
            <p>When you shop Nike online, either in the Nike App or on Nike.com, you can return items that are unworn and unwashed and still have their product tags attached within 30 days of purchase (some exceptions apply). That includes custom Nike By You sneakers.</p>
        </div>

        <h3>
            <button
                class="accordion"
                aria-expanded="false"
                aria-controls="faq-panel-2"
                id="faq-button-2"
            >
                What is Nike's returns policy?
            </button>
        </h3>
        <div
            class="panel"
            id="faq-panel-2"
            role="region"
            aria-labelledby="faq-button-2"
            hidden
        >
            <p>When you shop Nike online, either in the Nike App or on Nike.com, you can return items that are unworn and unwashed and still have their product tags attached within 30 days of purchase (some exceptions apply). That includes custom Nike By You sneakers.</p>
        </div>

        <h3>
            <button
                class="accordion"
                aria-expanded="false"
                aria-controls="faq-panel-3"
                id="faq-button-3"
            >
                Where is my Nike order?
            </button>
        </h3>
        <div
            class="panel"
            id="faq-panel-3"
            role="region"
            aria-labelledby="faq-button-3"
            hidden
        >
            <p>When you shop Nike online, either in the Nike App or on Nike.com, you can return items that are unworn and unwashed and still have their product tags attached within 30 days of purchase (some exceptions apply). That includes custom Nike By You sneakers.</p>
        </div>

        <h3>
            <button
                class="accordion"
                aria-expanded="false"
                aria-controls="faq-panel-4"
                id="faq-button-4"
            >
                How do I find the right size and fit?
            </button>
        </h3>
        <div
            class="panel"
            id="faq-panel-4"
            role="region"
            aria-labelledby="faq-button-4"
            hidden
        >
            <p>When you shop Nike online, either in the Nike App or on Nike.com, you can return items that are unworn and unwashed and still have their product tags attached within 30 days of purchase (some exceptions apply). That includes custom Nike By You sneakers.</p>
        </div>
    </section>

    <script type="module" src="/scripts/faq.js"></script>
</section>
