<header>
    <a href="/" class="logo">
        <img src="/src/assets/images/icons/logo.svg" alt="Home" />
    </a>

    <nav class="main-menu" id="main-menu" aria-label="Main menu">
        <a href="#">New & Featured</a>
        <a href="#">Men</a>
        <a href="#">Women</a>
        <a href="#">Kids</a>
    </nav>

    <a href="#" class="cart">
        <img src="/src/assets/images/icons/cart.svg" alt="View shopping cart" />
    </a>

    <button class="hamburger" aria-label="Menu" aria-controls="main-menu" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <script type="module" src="/scripts/header.js"></script>
</header>
