@use './variables' as v;
@use './mixins' as m;

.hero-banner-wrapper {
  height: 750px;

  @media (max-width: 1279px) {
    height: 600px;
  }
}

.swiper.hero-banner {
  width: 100%;
  height: 100%;

  .swiper-slide {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .hero-banner {
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 60px;
      width: calc(50% - 60px);
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      @media (max-width: 767px) {
        width: calc(100% - 32px);
        margin: 0 16px;
        align-items: center;
        text-align: center;
      }

      .shop-collection {
        background: v.$color-white;
        color: v.$color-black;
        margin-top: 32px;
        width: 220px;

        &:hover,
        &:active {
          background: v.$color-gray-200;
        }
      }
    }

    &-title,
    &-subtitle {
      color: v.$color-white;
    }

    &-title {
      @include m.typography(h1-desktop);
      font-weight: 700;
      text-transform: uppercase;

      @media (max-width: 767px) {
        @include m.typography(h1-mobile);
      }
    }

    &-subtitle {
      @include m.typography(body-text-large);
      margin-top: 16px;
    }
  }

  .swiper-pagination-bullet {
    background: v.$color-white;
    border-radius: 3px;
    margin: 0 4px !important;
    opacity: .5;
    width: 20px;
    height: 6px;

    &-active,
    &:hover {
      opacity: 1;
    }
  }
}
